{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
    <h1>Formulaire de contact</h1>

    {{ form_start(form) }}
    <div class="form-container1">
        <div class="form-container">
    <div class="form-group">
        {{ form_label(form.objet, 'Objet', {'label_attr': {'class': 'form-control-label'}}) }}
        {{ form_widget(form.objet, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.date, 'Date', {'label_attr': {'class': 'form-control-label'}}) }}
        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.contenu, 'Contenu', {'label_attr': {'class': 'form-control-label'}}) }}
        {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.mail, 'Mail', {'label_attr': {'class': 'form-control-label'}}) }}
        {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'form-control-label'}}) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.prenom, 'Prénom', {'label_attr': {'class': 'form-control-label'}}) }}
        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
    {{ form_end(form) }}
    </div>
</div>
{{msg}}
{% endblock %}
