{% extends 'base.html.twig' %}

{% block title %}Modifier catégorie{% endblock %}

{% block body %}

    {% if msg is not empty %}
        <div class="alert alert-success">{{ msg }}</div>
    {% endif %}

    <div class="form-container">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom) }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Modifier</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
