{% extends 'base.html.twig' %}

{% block title %}Ajouter Categorie{% endblock %}

{% block body %}
    <h1>Ajouter une categorie</h1>
    <div class="form-container">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom) }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
        {{ form_end(form) }}
        <p>{{msg}} <p>
    </div>
{% endblock %}
