{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<section class="card_container">
    <div class="card">
    <h1>{{ article.titre }}</h1>
    <p>{{ article.contenu }}</p>
    <p>Publié le {{article.date | date('Y-m-d')}}</p>
    <h4>Catégories :</h4>
    <ul>
        {% for categorie in article.categories %}
        <span class="badge bg-danger"> </span>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action warning"> <li>{{ categorie.nom }}</li></a>
 
        </div>
          
        {% endfor %}
    </ul>
    <h3>Auteur :</h3>
    <p>{{ article.user.nom }}</p>
    </div>
</section>
{% endblock %}
