{% extends 'base.html.twig' %}
 
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/style/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/style/style.css') }}">
{% endblock %}

{% block title %}Article{% endblock %}

{% block body %}
{% include 'component/heroArticle.html.twig' %}
  <h1> Nos Articles </h1>
  {% for article in liste %}
  <section class="card_container">
  
  <div class="card">
  <h4>{{article.titre}}</h4>
  <p>{{article.id}}</p>
  <p>{{article.contenu}}</p>
  <p>{{article.date | date('Y-m-d')}}</p>
  <p>{{article.user}}</p>
  </div>
  </section>



  {% endfor %}
 
 {% include 'component/footer.html.twig' %}
{% endblock %}
